<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- Activity -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <!-- Light Sensor -->
    <uses-feature android:name="android.hardware.sensor.light" android:required="true" />

    <!-- Reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Notification -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- 배터리 최적화 제외 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- Vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application android:theme="@style/AppTheme.SemiFullScreen">

        <!-- Splash -->
        <activity
            android:name=".view.splash.ActSplash"
            android:configChanges="screenSize|orientation"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.Starting">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Main -->
        <activity
            android:name=".view.main.activity.ActMain"
            android:configChanges="screenSize|screenLayout|orientation"
            android:exported="true"
            android:noHistory="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>