<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- Activity -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <!-- Light Sensor -->
    <uses-feature android:name="android.hardware.sensor.light" android:required="true" />

    <!-- Reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Screen On/Off -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Call -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <!-- Notification -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- 배터리 최적화 제외 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- Vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application android:theme="@style/AppTheme.SemiFullScreen">

        <!-- Splash -->
        <activity
            android:name=".view.splash.ActSplash"
            android:configChanges="screenSize|orientation"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.Starting">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Permission -->
        <activity
            android:name=".view.splash.ActPermission"
            android:configChanges="screenSize|screenLayout|orientation"
            android:exported="true"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- Login -->
        <activity
            android:name=".view.member.login.ActLogin"
            android:configChanges="screenSize|screenLayout|orientation"
            android:exported="true"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- Register -->
        <activity
            android:name=".view.member.register.activity.ActRegister"
            android:configChanges="screenSize|screenLayout|orientation"
            android:exported="true"
            android:noHistory="false"
            android:screenOrientation="portrait" />

        <!-- Main -->
        <activity
            android:name=".view.main.activity.ActMain"
            android:configChanges="screenSize|screenLayout|orientation"
            android:exported="true"
            android:noHistory="false"
            android:screenOrientation="portrait" />

        <!-- Log -->
        <activity
            android:name=".view.main.activity.ActLog"
            android:configChanges="screenSize|screenLayout|orientation"
            android:exported="true"
            android:noHistory="false"
            android:screenOrientation="portrait" />

        <!-- Edit Profile -->
        <activity
            android:name=".view.mypage.ActEditProfile"
            android:configChanges="screenSize|screenLayout|orientation"
            android:exported="true"
            android:noHistory="false"
            android:screenOrientation="portrait" />

        <!-- Manage Account -->
        <activity
            android:name=".view.mypage.ActManageAccount"
            android:configChanges="screenSize|screenLayout|orientation"
            android:exported="true"
            android:noHistory="false"
            android:screenOrientation="portrait" />

        <!-- Common WebView -->
        <activity
            android:name=".view.webview.ActCommonWebView"
            android:configChanges="screenSize|screenLayout|orientation"
            android:exported="true"
            android:noHistory="false"
            android:screenOrientation="portrait" />

        <!-- Foreground Service -->
        <service
            android:name=".tracking.service.TrackingForegroundService"
            android:foregroundServiceType="dataSync"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>